/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --h3_color: #353430;
  --h2_color: #353430;
  --main_text-color: #353430;
  --focus_color: #FFC2E6;
  --background-color: #FFF1F7;
  --text_background-color: #FF8DCB;
  --header_background-image: ../images/cover-image-light.png;
  --rec-visible: none;
  --header__theme_menu-button_hover-color: #32312D66;
}

@media (prefers-color-scheme: light) {
  :root {
    --h3_color: #353430;
    --h2_color: #353430;
    --main_text-color: #353430;
    --focus_color: #FFC2E6;
    --background-color: #FFF1F7;
    --text_background-color: #FF8DCB;
    --header_background-image: ../images/cover-image-light.png;
    --rec-visible: none;  
    --header__theme_menu-button_hover-color: #32312D66;
  }
}
