/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: #000028;
  display: grid;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'IBM Plex Mono';
}

.header {
  display: grid;
  position: relative;
  min-width: 375px;
  width: 100%;
  height: 688px;
  margin-bottom: 40px;
  background-image: url('../images/cover-image-dark.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: cover;
}

.rec {
  position: absolute;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 25px;
  color: var(--h2_color);
  height: 26px;
  width: 52px;
  right: 19px;
  top: 10px;
}

.rec::after {
  content: '';
  position: absolute;
  height: 9px;
  width: 9px;
  top: 8px;
  right: 0px;
  background-color: var(--h2_color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--h2_color);
}

.header::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px; 
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--h2_color);
  border-right: 1px solid var(--h2_color);
  justify-self: end;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--h2_color);
  border-left: 1px solid var(--h2_color);
}

.header__title {
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: #DB00FF;
  margin-left: 10px;
  text-shadow: 4px 4px var(--h2_color);  
}

.header__textfield {
  width: 355px;
  height: 117px;
  margin-right: 10px;
  justify-self: end;
}

.title-decor {
  background-color: var(--h2_color);
}

.header__text {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--h3_color);
  margin: 0;  
}


.header__theme-menu-list {
  display: grid;
  height: 98px;
  width: 70px;
  gap: 10px;
  justify-self: end;
  margin-right: 10px;
  margin-top: 75px;
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: 'IBM Plex Mono';
  border: none;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  height: 100%;
  width: 100%;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--h2_color)
}

.header__theme-menu-item {
  background-color: transparent;
  color: var(--h2_color);
  text-align: center;
}

.main {
  display: grid;
  width: 100%;
  height: min-content;
  gap: 20px;
  margin-bottom: 40px;
}

.main__questions {
  height: min-content;
  margin: 0 10px;
}
 
.main__question {
  height: min-content;
  margin-bottom: 50px;
}

.main__question-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--h2_color);
  margin-bottom: 20px;
}

.main__question-answer {
  height: min-content;
  width: 100%;
}

.main__question-answer-title {
  color: var(--h3_color);
  background-color: var(--h2_color);
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 10px;
}

.more-margin {
  margin-bottom: 20px;
}

.less-weight {
  font-weight: 400;
}

.main__question-answer-text {
  color: var(--main_text-color);
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.text-shadow {
  text-shadow: 2px 1px var(--h2_color);
}

.main__pictures {
  height: min-content;
  margin: 0 10px;
}

.main__pictures-title {
  color: var(--h3_color);
  background-color: var(--h2_color);
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 10px;
}

.pictures {
  display: grid;
  gap: 10px;
}

.picture {
  width: 100%;
}

.footer {
  position: relative;
  display: grid;
  place-content: center;
  width: 100%;
  height: 668px;
}

.footer__title {
  color: var(--focus_color);
  font-weight: 700;
  font-style: Bold;
  font-size: 116px;
  line-height: 83%;
  text-shadow: 2px 2px #FF0070;
}

.footer::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px; 
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--h2_color);
  border-right: 1px solid var(--h2_color);
  justify-self: end;
}

.footer::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--h2_color);
  border-left: 1px solid var(--h2_color);
}