/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  display: grid;
  justify-content: center;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'IBM Plex Mono';
}

.header {
  display: grid;
  position: relative;
  min-width: 375px;
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;
  background-image: var(--header_background-image);
  background-size: cover;
  background-position: center;
}

.rec {
  display: var(--rec-visible);
  position: absolute;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 25px;
  color: var(--h2_color);
  height: 26px;
  width: 52px;
  right: 19px;
  top: 10px;
}

.rec::after {
  content: '';
  position: absolute;
  height: 9px;
  width: 9px;
  top: 8px;
  right: 0px;
  background-color: var(--h2_color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--h2_color);
}

.header::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--h2_color);
  border-right: 1px solid var(--h2_color);
  justify-self: end;
}

.header::after {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--h2_color);
  border-left: 1px solid var(--h2_color);
}

.header__title {
  font-weight: 700;
  font-style: Bold;
  height: min-content;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--focus_color);
  margin-left: 10px;
  text-shadow: 4px 4px var(--text_background-color); 
}

.header__textfield {
  width: 355px;
  height: min-content;
  margin-right: 10px;
  margin-top: 0;
  justify-self: end;
  background-color: var(--text_background-color);
}

.header__text {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--h3_color);
  margin: 0;
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  height: min-content;
}

.header__theme-menu-list {
  display: grid;
  height: 98px;
  width: 70px;
  gap: 10px;
  margin-right: 10px;
  margin-top: 75px;
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: 'IBM Plex Mono';
  border: none;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  height: 100%;
  width: 100%;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--header__theme_menu-button_hover-color);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--h2_color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--h2_color);
  pointer-events: none;
}

.header__theme-menu-item {
  background-color: transparent;
  color: var(--h2_color);
  text-align: center;
}

.main {
  display: grid;
  width: 100%;
  height: min-content;
  margin-bottom: 40px;
}

.main__questions {
  height: min-content;
  margin: 0 10px;
  margin-bottom: 50px;
}
 
.main__question {
  height: min-content;
  margin-bottom: 50px;
}

.main__question:nth-child(3) {
  margin-bottom: 0;
}

.main__question-title {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--h2_color);
  margin-bottom: 20px;
}

.main__question-answer {
  height: min-content;
  width: 100%;
}

.main__question-answer-title {
  color: var(--h3_color);
  background-color: var(--text_background-color);
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 10px;
}

.more-margin {
  margin-bottom: 20px;
}

.less-weight {
  font-weight: 400;
}

.main__question-answer-text {
  color: var(--main_text-color);
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.text-link {
  text-shadow: 2px 1px #FF8DCB;
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:focus-visible {
  outline: 1px solid var(--main_text-color)
}

.main__pictures {
  height: min-content;
  margin: 0 10px;
}

.main__pictures-title {
  color: var(--h3_color);
  background-color: var(--text_background-color);
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 10px;
}

.pictures {
  display: grid;
  gap: 10px;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
}

.footer__title {
  color: var(--focus_color);
  font-weight: 700;
  font-style: Bold;
  font-size: 116px;
  line-height: 83%;
  text-shadow: 2px 2px #FF0070;
}

.footer::before {
  content: '';
  position: absolute;
  height: 25px;
  width: 25px;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--h2_color);
  border-right: 1px solid var(--h2_color);
  justify-self: end;
}

.footer::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 25px;
  width: 25px;
  border-bottom: 1px solid var(--h2_color);
  border-left: 1px solid var(--h2_color);
}

@media (width >= 768px) {
  .header {
    margin-bottom: 60px;
  }

  .rec {
    top: 20px;
    right: 29px;
  }

  .header::before {
    top: 20px;
    right: 20px;
  }

  .header::after {
    bottom: 20px;
    left: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: 0px;
  }

  .header__theme-menu-list {
    margin-right: 20px;
    margin-top: 192px;
  }

  .header__textfield {
    width: calc((100% - 40px) / 2);
    margin-right: 20px;
  }

  .main {
    margin-bottom: 100px;
  }

  .main__questions {
    margin: 0 20px;
    margin-bottom: 80px;
  }

  .main__question {
    margin-bottom: 80px;
  }

  .main__question:not(:nth-child(2)) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .main__question:nth-child(2) .main__question-title {
    width: 33.3333333334%;
  }

  .main__pictures {
    margin: 0 20px;
  }

  .main__pictures-title {
    margin-bottom: 20px;
  }

  .pictures {
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25.869799% 31.1655405% 42.9646605%;
  }

  .picture:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/1;
  }

  .picture:nth-child(2) {
    grid-column: 3/3;
    grid-row: 1/3;
  }

  .picture:nth-child(3) {
    grid-column: 1/1;
    grid-row: 2/4;
  }

  .picture:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/3;
  }

  .footer::before {
    top: 20px;
    right: 20px;
  }

  .footer::after {
    bottom: 20px;
    left: 20px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-content: center;
    align-items: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    margin: 0;
    margin-top: 20px;
    height: 26px;
    width: 230px;
  }

  .header__title {
    align-self: center;
  }

  .main__question:nth-child(2) .main__question-answers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}
