/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --h3_color: #000028;
  --h2_color: #FF0070;
  --main_text-color: #F1B2CE;
  --focus_color: #DB00FF;
  --background-color: #000028;
  --text_background-color: #FF0070;
  --header_background-image: '../images/cover-image-dark.png';
  --rec-visible: block;
  --header__theme_menu-button_hover-color: #FF007066;
}
